/* body {
  margin: 0;
  font-family: 'luminari', fantasy;
  color: saddlebrown;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

body {
  font-family: monaco, monospace;
  color: slategrey;
  text-align:center;
  
}

@tailwind base;
@tailwind components;
@tailwind utilities;